<% layout("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <form action="/listings/new" method="get">
        <button>Create New Post</button>
    </form>
    <ol>
        <% for(let list of allListing){ %>
            <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
        <% } %>
    </ol>
</body>
